html {
    scroll-behavior: smooth;
}

body {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/*-----------------Hero Section----------------------*/

.hero {
    background-color: #1F2937;
    color: #F9FAF8;
}

.header {
    display: flex;
    padding: 16px;
    margin: 0 20%;
}

.header-left {
    display: flex;
    margin-right: auto;
}

.header-right {
    display: flex;
    margin-left: auto;
    align-items: center;
    gap: 16px;
}

.logo {
    max-width: 75px;
    width: auto;
    flex: 1 1 0;
}

.hero-content {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 5%;
    margin-bottom: 10%;
}

.hero-copy {
    margin-right: 50px;
}

.hero-img {
    display: flex;
    flex-shrink: 0;
    margin-left: auto;
    border-radius: 5px;
}

.hero-button {
    background-color: #3882F6;
    color: #F9FAF8;
}

/*-----------------Flavor Section----------------------*/
.flavor-section {
    margin-top: 3%;
    margin-bottom: 10%;
    margin-left: 20%;
    margin-right: 20%;
}

.flavor-heading {
    text-align: center;
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    margin-bottom: 75px;
}

.flavor-list {
    display: flex;
    justify-content: center;
    align-items:flex-start;
    gap: 50px;
    color: rgb(59, 59, 59);
}

.flavor {
    display: flex;
    width: 250px;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
}

.flavor-img {
    width: 250px;
    height: 250px;
    border-radius: 5px;
}

/*-----------------Quote Section----------------------*/
.quote-section {
    background-color: #E5E7EB;
}

.testimonial {
    margin: 12% 25%;
}

.review-person {
    font-size: 24px;
    font-weight: bold;
    font-style: normal;
    text-align: right;
}

/*-----------------Call To Action Section----------------------*/
.cta-section {
    background-color: #3882F6;
    margin: 8% 20%;
    color: #F9FAF8;
    display: flex;
    padding: 50px 120px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.cta-copy {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.cta-heading {
    font-size: 24px;
    margin-bottom: -15px;
}

.cta-button {
    display: flex;
    padding: 10px 30px;
    margin-left: auto;
    background-color: #3882F6;
    color: #F9FAF8;
    border-color: #F9FAF8;
    flex-shrink: 0;
}

/*-----------------Footer Section----------------------*/
.credits {
    margin: 40px 20%;
}


img {
    max-width: 600px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

a {
    text-decoration: none; 
    color: white;
}

h2 {
    font-size: 48px;
    font-weight: 900;
    margin-bottom: -10px;
}

button {
    padding: 10px 20px;
    font-weight: bold;
    font-size: 18px;
    border-radius: 12px;
}

p {
    font-size: 18px;
}

q {
    color: #1F2937;
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
}

footer {
    background-color: #1F2937;
    color:#F9FAF8;
    text-align: center;
}